<!-- <h1 class="text-center text-danger m-3 "> <i class="fa fa-home fa-bold me-5"></i>E-Cart</h1>
<h1>Happiness is homemade</h1>
<h2>happiness is homemade</h2>
<h3>Happiness is homemade</h3>

<div>
  <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Laborum placeat sequi delectus facere corporis porro. Debitis quas dicta maxime dolores
     porro blanditiis quia nulla! Fugiat nostrum officia quis enim sit?</p>
</div> -->

<app-header> </app-header>
<router-outlet> </router-outlet>
<app-footer> </app-footer>

